extends layout

block content
  .container
    .hero-unit
      h1= title
      p Welcome to #{title}

      hr

      h1 Socket.io
      p#socket_io_msg.text-info connecting...

      hr

      h1 'Allo, 'Allo!
      p You now have
      ul
        li HTML5 Boilerplate
        li Twitter Bootstrap
        li RequireJS

      p installed.

      h3 Enjoy coding! - Yeoman

      hr

      h1
        i.icon-flag
        | &nbsp;The Font

      div Font Awesome installed&nbsp;

      .text-warning
        i.icon-exclamation-sign
        | &nbsp; Ver 3.0.x

block style
  include /main.css.html

block head_script
  include /modernizr.js.html

block body_script
  include /main.js.html

